*{
    
}

span.astrix{
    color: #ff0000
}

header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #673AB7;
    overflow: hidden;
    margin-bottom: 50px;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea{
    border-radius: 0;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    color: #5f5f5f;
    padding: 12px;
    height: 2.5rem
}

.form-basic fieldset{
    padding: 40px 20px 0 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-basic fieldset label{
    line-height: 2rem;
    font-weight: bold;
    color: #5f5f5f
}

.form-basic .row{
    margin-bottom: 10px;
}

.form-basic h4{
    box-sizing: border-box;
    color: #4c565e;
    font-size: 20px;
    display: inline-block;
    background: #fff;
    position: absolute;
    top: -16px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold
}